@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Newtonsoft.Json
@{
    var serializedClient = Context.Session.GetString("ClientLogin");
    var loginClient = serializedClient != null ? JsonConvert.DeserializeObject<Clients>(serializedClient) : null;
    var serializedMoto = Context.Session.GetString("Motorcycles");
    var motoList = serializedMoto != null ? JsonConvert.DeserializeObject<List<TakeMotoToWork>>(serializedMoto) : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Styling Example</title>
    <!-- Include jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
   

    <!-- Custom stylesheet -->
    <style>
        .mycontainer {
            display: flex;
            justify-content: space-between;
            
            margin: auto;
        }

        .underline {
            /*display: none;*/
            text-decoration: underline dashed #F98404;
            text-underline-offset: 10px;
            margin: 20px;
        }
        .imageForm {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .imageForm img{
            width:100%;
            }
           

        .labelContainer {
            width: 150px;
            margin:10px;
        }

        
       .imageForm {
    order: -1;
}

        .inpMoto{
            width:400px;
            margin-right:20px;
        }

        .btn1 {
            background: #F98404;
            border-radius: 35px;
            font-weight: bold;
            margin: 20px auto;
        }
    </style>

</head>
<body>
    <h1 class="underline">@loginClient?.Fullname </h1>
    <p><strong style="margin-left:20px;">@loginClient?.Telephone</strong></p>
    <section class="mycontainer">
        
        <form action="@Url.Action("AddMoto","Home")" method="post">
            <div class="imageForm">
                <table><tr><td >
                            <img src="~/images/addMot.JPG" alt="Example Image" />
                </td>
                        <td>
                            <table>
                                <tr>
                                    <td> <label for="fullname" class="labelContainer">Марка:</label></td>
                                    <td> <select name="model" id="model">
                                           @foreach (var modele in motoList)
                                           {
                                            <option >@modele.Model</option>
                                           }
                                        </select></td>
                                   @* <td>  <input type="text" name="model" id="model" class="inpMoto" /></td>*@
                                </tr>
                                <tr>
                                    <td> <label for="yearOfRelease" class="labelContainer">Год выпуска:</label></td>
                                    <td>  <input type="text" name="year" id="year" class="inpMoto" /></td>
                                </tr>
                                <tr>
                                    <td> <label for="mileage" class="labelContainer">Пробег:</label></td>
                                    <td>  <input type="number" name="mileage" id="mileage" class="inpMoto" /></td>
                                </tr>
                                <tr>
                                    <td> <label for="photo" class="labelContainer">Фото:</label></td>
                                    <td><input type="file" name="photo" class="AccountInp" accept=".jpg, .jpeg, .png" /></td>
                                </tr>
                             </table>
                           
                           

                        </td>
                </tr></table>
                

                <!-- Input Fields -->
               

                <!-- Submit Button -->
                <button type="submit" class="btn1">Сохранить</button>
            </div>
        </form>
    </section>
</body>
</html>