@{
    ViewData["Title"] = "Home Page";
    
}
<a href="@Url.Action("RegButton_Click","Client")" onclick="redirectToAuthorization()">
   <input type="button" value="Перейти на регистрацию>"/>
</a>
<a href="@Url.Action("AuthButton_Click","Home")" onclick="redirectToAuthorization()">
    <label> Уже зарегистрирован </label>
</a>