@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .mcontainer {
        position: relative;
        text-align: left;
        color: white;
    }

    form {
        width: 90%;
        margin: 20px 40px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        color:black;
    }
    .tab1{
    width:100%;
    }
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    textarea {
        resize: vertical;
        width: 100%;
        height: 150px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 20px;
    }

  

       

    .signatures {
        margin-top: 40px;
        text-align: right;
    }

        .signatures p {
            margin: 0;
        }

    .btn1 {
        background: #F98404;
        border-radius: 35px;
        font-weight: bold;
        margin:10px;
    }
    </style>
<div class="mcontainer">
    <h2>Заявки</h2>

    <form action="#" method="post">
        <table class="tab1">
          <tr>
            <td>
                    <label for="fullname">Ваш мотоцикл:</label>
            </td>
             <td>
                    <select/>
             </td>
          </tr>
            <tr>
                <td>
                    <label for="fullname">Опишите проблему:</label>
                </td>
                <td>
                    <textarea rows="5" cols="30" name="message" required></textarea>
                </td>
            </tr>
            <tr>
                <td>
            <div class="dropdown">
                <button>Можете указать где именно поломка?</button>
                <div class="dropdown-content">
                    <a href="#" class="tile">
                        <img src="https://hdpic.club/uploads/posts/2022-01/1642021701_36-hdpic-club-p-mototsikla-na-belom-fone-51.png" alt="Изображение 1">
                    </a>
                    <a href="#" class="tile">
                        <img src="https://deswal.ru/moto/yamaha/1600-1200/00000199.jpg" alt="Изображение 2">
                    </a>
                    <a href="#" class="tile">
                        <img src="https://deswal.ru/moto/yamaha/1600-1200/00000199.jpg" alt="Изображение 3">
                    </a>
                    <!-- Добавьте больше плиток по необходимости -->
                </div>
            </div>
                </td>
            </tr>
        </table>
        <style>
            body {
                font-family: Arial, sans-serif;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                width: 300px; /* Ширина контейнера для плиток */
            }

                .dropdown-content .tile {
                    display: inline-block;
                    width: 30%; /* Ширина каждой плитки */
                    padding: 10px;
                    text-decoration: none;
                    color: black;
                    box-sizing: border-box;
                }

                    .dropdown-content .tile img {
                        width: 100%;
                        height: auto;
                    }

            .dropdown:hover .dropdown-content {
                display: block;
            }
        </style>
       
        <button type="submit" name="submit" class="btn1">Подать заявку</button>
    </form>

  
</div>

